.timer-section{
  width: 355px;
  margin: 50px auto;
}

#datetime-picker{
  width: 240px;
  height: 24px;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 4px;
  padding: 8px 16px;
}

.btn-strart{
  width: 75px;
  height: 40px;
  padding: 8px 16px;
}

.timer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  margin-top: 32px;
}

.field {
  width: 55px;
  height: 48px;
  text-align: center;
  margin-right: 31px;
}

.field:last-child{
  margin-right: 0;
}


.value {
  font-size: 40px;
}

.label {
  font-size: 16px;
}